---
const logos = [
  { src: '/logos/jagermaister.svg', alt: 'Jagermaister' },
  { src: '/logos/lexus.svg', alt: 'Lexus' },
  { src: '/logos/vans.svg', alt: 'Vans' },
  { src: '/logos/jameson.svg', alt: 'Jameson' },
  { src: '/logos/skoda.svg', alt: 'Škoda Auto' },
  {
    src: '/logos/dawson.png',
    srcSet: '/logos/dawson.png 1x, /logos/dawson@2x.png 2x',
    width: 108,
    height: 32,
    alt: 'Dawson',
  },
  {
    src: '/logos/bubble.png',
    srcSet: '/logos/bubble.png 1x, /logos/bubble@2x.png 2x',
    width: 67,
    height: 67,
    alt: 'Bubble',
  },
  {
    src: '/logos/etnetera.png',
    srcSet: '/logos/etnetera.png 1x, /logos/etnetera@2x.png 2x',
    width: 89,
    height: 44,
    alt: 'Etnetera & Motion',
  },
  { src: '/logos/cd.svg', alt: 'České dráhy' },
]
---

<div class="absolute bottom-[30px] z-trustedBy w-full">
  <div class="mx-auto flex w-full max-w-container flex-wrap px-[15px] xl:px-0">
    <h3
      class="m-0 mb-4 w-full p-0 text-[1.4rem] font-normal uppercase tracking-widest text-secondary"
    >
      Trusted by
    </h3>
    <ul
      class="flex w-full list-none items-center justify-between overflow-auto p-0"
    >
      {
        logos.map((logo, i) => (
          <li
            class="mx-5 animate-fadeIn opacity-0 first:ml-0 last:mr-0"
            style={`animation-delay: ${i * 0.09}s`}
          >
            {'srcSet' in logo ? (
              <img
                src={logo.src}
                srcset={logo.srcSet}
                width={logo.width}
                height={logo.height}
                alt={logo.alt}
              />
            ) : (
              <img src={logo.src} alt={logo.alt} />
            )}
          </li>
        ))
      }
    </ul>
  </div>
</div>
