---
import { localePath, type Locale } from '~/i18n'
import { localizedPagePath } from '~/i18n/routes'

interface Props {
  locale?: Locale
}

const { locale = 'en' } = Astro.props

const footerLinks = [
  {
    title: 'Go and see the',
    name: 'Gallery',
    link: localePath(locale, localizedPagePath(locale, 'gallery')),
  },
  {
    title: 'Read something',
    name: 'About me',
    link: localePath(locale, localizedPagePath(locale, 'about')),
  },
  { title: 'Check out my', name: 'Portfolio', link: localePath(locale, '/') },
  {
    title: 'Hit me up on',
    name: 'info',
    email: 'info@ondrahajek.com',
    phone: '+420 773 604 400',
  },
]
---

<footer
  class="mt-0 px-6 py-16 pb-24 md:mt-[100px] md:flex md:h-[80vh] md:px-0 md:py-[50px] md:pt-0"
>
  <div class="flex w-full flex-col gap-0 md:flex-row md:flex-nowrap">
    {
      footerLinks.map((item, index) =>
        item.link ? (
          <a
            href={item.link}
            class:list={[
              'flex min-h-[120px] w-full flex-col justify-center border-b border-white/10 py-8 text-center last:border-b-0 md:h-full md:flex-1 md:border-b-0 md:py-0 md:transition-colors md:hover:bg-[#17171a]',
              index === 1 && 'md:bg-[#111114]',
            ]}
          >
            <p class="m-0 mb-5 p-0 font-roboto text-[1.8rem] normal-case text-secondary">
              {item.title}
            </p>
            <h3 class="m-0 p-0 font-teko text-[4rem] uppercase leading-6 text-primary no-underline">
              {item.name}
            </h3>
          </a>
        ) : (
          <div class="flex min-h-[120px] w-full flex-col justify-center border-b border-white/10 py-8 text-center last:border-b-0 md:h-full md:flex-1 md:border-b-0 md:py-0 md:transition-colors md:hover:bg-[#17171a]">
            <p class="m-0 mb-5 p-0 font-roboto text-[1.8rem] normal-case text-secondary">
              {item.title}
            </p>
            <h3 class="m-0 p-0 font-teko text-[4rem] uppercase leading-6 text-primary">
              <a
                href={`mailto:${item.email}`}
                class="text-primary no-underline"
              >
                {item.name}
                <span class="block text-[2rem]">
                  @{item.email?.split('@')[1]}
                </span>
              </a>
            </h3>
            <a
              href={`tel:${item.phone?.replace(/\s/g, '')}`}
              class="font-teko text-[2rem] text-secondary no-underline"
            >
              {item.phone}
            </a>
          </div>
        )
      )
    }
  </div>
</footer>
