---
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'
import type { Locale } from '~/i18n'

const FB_PIXEL_ID = '895557671255172'
const GA_TRACKING_ID = 'UA-111398537-1'
const fontsHref =
  'https://fonts.googleapis.com/css2?family=Teko:wght@400;600&family=Roboto:wght@400;700&display=swap'

interface Props {
  title?: string
  description?: string
  locale?: Locale
  /** Absolute path of the current page WITHOUT locale prefix (e.g. "/portfolio/my-slug") */
  canonicalPath?: string
  /** JSON-LD structured data object */
  jsonLd?: Record<string, unknown>
}

const {
  title = 'ondrahajek.com | AERIAL Video & Photography',
  description = 'Web portfolio of drone pilot Ondra Hajek, who will make your projects more interesting. He specialises in documentaries, film, music video, commercials and architecture.',
  locale = 'en',
  canonicalPath,
  jsonLd,
} = Astro.props

const siteUrl = 'https://ondrahajek.com'
const enUrl = canonicalPath
  ? `${siteUrl}/en${canonicalPath === '/' ? '' : canonicalPath}`
  : undefined
const csUrl = canonicalPath
  ? `${siteUrl}/cs${canonicalPath === '/' ? '' : canonicalPath}`
  : undefined
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social.jpg" />
    <meta property="og:title" content={title} />
    <meta
      name="keywords"
      content="aerial, drone, camera, 4k, phantom, phantom4pro, inspire, video, equipment, photography, studio, professional, uav, dji, copter, documentary, film, music video, promo, commercial, architecture, music video, aerial video, aerial photography, 360 photography, 360°,copter vision, coptervision, georgia, bali, indonesia, brazil, rio de janeiro, surf, paragliding, surfing, travel, dron, kamera, letecké záběry, koptéra, na zakázku, výškové práce, ze vzduchu, ucl, dokument, film, hudební klip, architektura"
    />
    <title>{title}</title>

    {enUrl && <link rel="alternate" hreflang="en" href={enUrl} />}
    {csUrl && <link rel="alternate" hreflang="cs" href={csUrl} />}
    {
      enUrl && csUrl && (
        <link rel="alternate" hreflang="x-default" href={enUrl} />
      )
    }

    {
      jsonLd && (
        <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
      )
    }

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://www.datocms-assets.com" />
    <link rel="preconnect" href="https://www.youtube.com" />
    <link rel="preconnect" href="https://i.ytimg.com" />
    <link rel="preconnect" href="https://i9.ytimg.com" />
    <link rel="preconnect" href="https://s.ytimg.com" />
    <link rel="preconnect" href="https://player.vimeo.com" />
    <link rel="preconnect" href="https://i.vimeocdn.com" />
    <link rel="preconnect" href="https://f.vimeocdn.com" />

    <link rel="preload" as="style" href={fontsHref} />
    <link rel="stylesheet" href={fontsHref} media="print" id="fonts-link" />
    <script is:inline>
      ;(function () {
        var l = document.getElementById('fonts-link')
        if (l) {
          l.onload = function () {
            this.media = 'all'
          }
        }
      })()
    </script>
    <noscript>
      <link rel="stylesheet" href={fontsHref} />
    </noscript>

    <script
      is:inline
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_TRACKING_ID}`}
    ></script>
    <script is:inline define:vars={{ GA_TRACKING_ID }}>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', GA_TRACKING_ID, {
        page_path: window.location.pathname,
      })
    </script>

    <script is:inline>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-T58QC9G')
    </script>

    <script is:inline define:vars={{ FB_PIXEL_ID }}>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments)
        }
        if (!f._fbq) f._fbq = n
        n.push = n
        n.loaded = !0
        n.version = '2.0'
        n.queue = []
        t = b.createElement(e)
        t.async = !0
        t.src = v
        s = b.getElementsByTagName(e)[0]
        s.parentNode.insertBefore(t, s)
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js'
      )
      fbq('init', FB_PIXEL_ID)
    </script>

    <noscript>
      <img
        height="1"
        width="1"
        style="display:none"
        src={`https://www.facebook.com/tr?id=${FB_PIXEL_ID}&ev=PageView&noscript=1`}
        alt=""
      />
    </noscript>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />
    <ViewTransitions />
  </head>
  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T58QC9G"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <slot />
  </body>
</html>
